**/Build/
**/dist/
**/node_modules
**/coverage
**/build
**/.DS_Store
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/_obj
cmd/exampleapp/exampleapp
cmd/exampleapp/exampleapp.exe
cmd/exampleapp/WebView2Loader.dll
cmd/exampleappgrpc/client/client
cmd/exampleappgrpc/exampleappgrpc
**/__debug_bin
**/EBWebView


# Xcode related
## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno



**/Microsoft.Web.WebView2.Sdk
**/Microsoft.Web.WebView2.Sdk.zip
WebView2Loader.dll
mproton_darwin.m
